* {
    box-sizing: border-box;
}

.information {
    display: none;
}

.head, .show {
    display: block;
}

.head:hover {
    background-color:  #407088;
    cursor: pointer;
}

p {
    max-width: 50%;
    background-color: #84a9ac;
    padding: 10px;
    margin-top: 0px;
}

.head {
    max-width: 50%;
    background-color: #3b6978;
    color: #e4e3e3;
    padding: 10px;
    margin-bottom: 0px;
}
