* {
    box-sizing: border-box;
     }
     
/* body{
    font-family: 'Roboto', sans-serif;
} */
/* .pawn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
} */
/* td.wall {
    border: 1px solid black;
    width: 2px;
    height: 2px;
} */

table {
    /* width: 100%; */
    border-collapse: collapse;
    /* border: 1px solid black; */
  }

td {
    /* border: 1px solid black; */
    width: 55px;
    height: 55px;
    }
#player::after {
    font-size: 35px;
    content: "🕷"; 
    }

.extra::after {
    font-size: 35px;
    content: "🐜";
}
.wall {
    background-color: black;
}

.target::after {
    margin-top: 15px;;
    font-size: 35px;
    content: "🕸";
}

.extra-two::after {
    font-size: 35px;
    content: "🦗"
}

.extra-three::after {
    font-size: 35px;
    content: "🦟"
}

.prize::after {
    /* background-color: green; */
    font-size: 35px;
    content: "🐞";     
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}


/* h2 {
    font-size: 16px;
} */

/* button {
 font-size: 18px;
} */