* {
    box-sizing: border-box;
     }
     
table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    /* border: 1px solid black; */
  }

td {
    /* border: 1px solid black; */
    display: table-cell;
    width: 36px;
    height: 36px;
    }
    
#player::after {
    font-size: 23px;
    content: "🕷"; 
    }

.extra::after {
    font-size: 23px;
    content: "🐜";
}
.wall {
    background-color: black;
}

.insects, .time, .points {
    font-size: 22px;
    margin: 0;
}

.target::after {
    margin-top: 15px;;
    font-size: 23px;
    content: "🕸";
}

.extra-two::after {
    font-size: 23px;
    content: "🦗"
}

.extra-three::after {
    font-size: 23px;
    content: "🦟"
}

.prize::after {
    /* background-color: green; */
    font-size: 23px;
    content: "🐞";     
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.game-over {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	visibility: visible;
}

form {
    display: flex;
    flex-direction: row;
 
    align-items: center;
    justify-content: center;
}

.form-inline {
    margin-top: 50px;
}

.form-group {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.warning {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    background-color: lightgrey;
}

.h1 {
    /* font-size: 25px; */
    margin: 50px;

}

.modal-hidden {
    display: none;
}

.hidden {
    display: none;
}

/* li {
    list-style-type: none;
} */