/* * {
   
  
    
}; */


* {
    font-family: 'Rock Salt', cursive;
    margin: 0;
    padding: 0;
}


.hide{
    display: none;
} 

.pic{
    position: absolute;
    max-width: 100%;
    height: auto;
}

/* 
.slideshow-container {
    position: relative;
} */


/* .caption {
    bottom: 20px;
} */

.caption, .btn {
    position: absolute;
   }

main {
    overflow: hidden;
}

.btn {
    position: absolute;
    font-size: 100px;
    color: white;
    top: 25%;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.prev{
    left: 1%;
}

.next {
right: 1%;
}

.caption {
    font-size: 72px;
    text-align: center;
    width: 60%;
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 0px;;
    /* top: 20px; */
    color: white;
}

@media (max-width: 700px) {
    .caption {
      font-size: 32px;
    }
    .btn {
      font-size: 50px;
      top: 10%;
    }
}